# Logs
**/logs/
*.log
**/*.lock


**/node_modules/
**/dist/1
# **/.env # disabled for now

# Editor directories and files
# .vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
